name: CI
on: [push, pull_request]
jobs:
  CI-Build:
    name: Langevin on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v4

      - name: setup graalvm for static native build
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '17.0.7'
          distribution: 'graalvm-community'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          components: 'native-image'
          native-image-musl: 'true'
          native-image-job-reports: 'true'
        if: matrix.os == 'ubuntu-latest'

      - name: setup graalvm for non-static build
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '17.0.7'
          distribution: 'graalvm-community'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'
        if: matrix.os == 'macos-latest' || matrix.os == 'windows-latest'

      - name: java build and test
        run: mvn test
        if: matrix.os == 'macos-latest' || matrix.os == 'windows-latest'

      - name: static native build without test - linux only
        run: mvn -Pnative-static -DskipTests=true package
        if: matrix.os == 'ubuntu-latest'

      - name: non-static native build without test - macos or windows
        run: mvn -Pnative -DskipTests=true package
        if: matrix.os == 'macos-latest' || matrix.os == 'windows-latest'

      - name: run native executable with --help option to verify build (zero return code)
        run: ./target/langevin --help

      - name: Upload ${{ matrix.os }} solver binary
        uses: actions/upload-artifact@v4
        with:
          name: langevin-${{ matrix.os }}
          path: target/langevin*
